[defaults]
gathering = smart
fact_caching = jsonfile
fact_caching_connection = cache
fact_caching_timeout = 10
host_key_checking = False
inventory = inventory
roles_path=/vagrant/roles:/opt/ansible-skeleton/common/roles
ansible_pkg_mgr = "yum"
force_color = 1
force_handlers = True
retry_files_save_path = "~/"
pipelining = True
nocolor = 0
retry_files_enabled = False
display_skipped_hosts = False

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o StrictHostKeyChecking=no -o PasswordAuthentication=no -o 'IdentityFile="/home/vagrant/.ssh/id_rsa"' -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes -o ServerAliveInterval=30
