export http_proxy="{{ proxy_configurator_http_proxy }}"
export HTTP_PROXY="{{ proxy_configurator_http_proxy }}"
export https_proxy="{{ proxy_configurator_http_proxy }}"
export HTTPS_PROXY="{{ proxy_configurator_http_proxy }}"
export no_proxy="{{ proxy_configurator_no_proxy }}"
export NO_PROXY="{{ proxy_configurator_no_proxy }}"